<h1>Add Grant Details</h1>

<%= form_for @grant_application, url: add_grant_details_update_grant_application_path(@grant_application) do |f| %>
  <div class="checkbox inline">
    <%= f.check_box :grant_type, { :multiple => true }, 'foo', nil %>
  </div><br>
  <div class="checkbox inline">
    <%= f.check_box :grant_type, { :multiple => true }, 'bar', nil %>
  </div><br>
  <div class="checkbox inline"> 
    <%= f.check_box :grant_type, { :multiple => true }, 'bam', nil %>
  </div><br>
  <div class="checkbox inline">
    <%= f.check_box :grant_type, { :multiple => true }, 'baz', nil %>
  </div><br>
  <div>
    <%= f.submit "Save" %>
  </div>
  <br>
<% end %>
<div>
  <%= link_to "Back", program_grant_application_path(@grant_application) %>
</div>


