<%= link_to "Go back to profile", user_path(@user) %>

<h3>Your contact information | <%= link_to "edit", edit_user_path(@user) %></h3>
<p>Your name: <%= @user.first_name %> <%= @user.middle_initial%> <%= @user.last_name %></p>
<p>Organization: <%= @user.organization.name %></p>
<p>Email: <%= @user.email %></p>
<p>Phone Number: <%= @user.phone_number %></p>

<h3>Grant Details</h3>
<%= form_for @grant_application do |f| %>
  <div>
    <%= f.label "request_amount", "Grant Size" %><br>
    <%= f.text_field "request_amount" %>
  </div>
  <div>
    <%= f.label "intended_use", "Impact" %><br>
    <%= f.text_area "intended_use" %>
  </div>
  <div>
    <%= f.file_field :attachment %>
  </div>
  <div>
    <%= f.submit "Save" %>
  </div>
<% end %>
