<h1>Choose Your Organization</h1>  

<%= form_for @organization do |f| %>
<div>
  <%= f.label "Organization Name" %>
  <%= f.collection_select(:name, Organization.all, :id, :name ) %>
</div>
  <%= f.fields_for :user do |builder| %>
    <div>
      <%= builder.label :first_name, "First Name" %></br>
      <%= builder.text_field :first_name %>
    </div>
    <div>
      <%= builder.label :last_name, "Last Name" %></br>
      <%= builder.text_field :last_name %>
    </div>
    <div>
      <%= builder.label :phone_number, "Phone Number" %>
      <%= builder.text_field :phone_number %>
    </div>
    <div>
      <%= builder.label :email, "Email" %>
      <%= builder.text_field :email %>
    </div>
    <div>
      <%= builder.label :password, "Password" %>
      <%= builder.password_field :password %>
    </div>
    <div>
      <%= builder.label :password_confirmation, "Password Confirmation" %>
      <%= builder.password_field :password_confirmation %>
    </div>
  <% end %>
  <%= f.submit "Sign Up" %>
<% end %>


